<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>홈꾸</title>
    <meta name="description" content="감도높은 유저들의 일상 구경부터 제품 구매까지 한번에"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="preconnect" href="https://cdn.jsdelivr.net"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css"/>
    <link rel="icon" href="/assets/images/index/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.min.css">
    <script defer src="/product/assets/scripts/category.js"></script>
</head>

<body>
<!-- Header -->
<header th:replace="~{fragments/header :: header}"></header>
<div th:replace="~{fragments/header :: mini-header}"></div>

<!-- Main Content -->
<main id="main-category">
    <section class="list visible">
        <div class="category-list">
            <h2 class="title">
                <a href="">
                    가구
                </a>
            </h2>
            <ul id="list" class="items">
                <li class="item">
                    <div class="list-btn">
                        <a href="" class="link stretch">오늘의집 Only</a>
                    </div>
                </li>
                <li class="item">
                    <div class="list-btn">
                        <a href="" class="link stretch">침대</a>
                        <button type="button" class="btn">
                            <svg class="icon" width="12" height="12" fill="currentColor" viewBox="0 0 12 12"
                                 preserveAspectRatio="xMidYMid meet">
                                <path d="M6.07 7.56l4.39-4.55.87.87-5.25 5.45L.67 3.9 1.53 3z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="open-box">
                        <ul>
                            <li>
                                <div>
                                    <a href="" class="stretch">침대프레임</a>
                                    <button type="button">
                                        <svg class="icon" width="12" height="12" viewBox="0 0 12 12"
                                             preserveAspectRatio="xMidYMid meet">
                                            <path d="M6.07 7.56l4.39-4.55.87.87-5.25 5.45L.67 3.9 1.53 3z"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="open">
                                    <ul>
                                        <li>
                                            <a href="">일반침대</a>
                                        </li>
                                        <li>
                                            <a href="">수납침대</a>
                                        </li>
                                        <li>
                                            <a href="">저상형침대</a>
                                        </li>
                                        <li>
                                            <a href="">패밀리침대</a>
                                        </li>
                                        <li>
                                            <a href="">이층·벙커침대</a>
                                        </li>
                                        <li>
                                            <a href="">하단매트리스·파운데이션</a>
                                        </li>
                                        <li>
                                            <a href="">모션베드</a>
                                        </li>
                                        <li>
                                            <a href="">돌침대·흙침대</a>
                                        </li>
                                        <li>
                                            <a href="">접이식침대</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">침대+매트리스</a>
                                    <button type="button">
                                        <svg class="icon" width="12" height="12" viewBox="0 0 12 12"
                                             preserveAspectRatio="xMidYMid meet">
                                            <path d="M6.07 7.56l4.39-4.55.87.87-5.25 5.45L.67 3.9 1.53 3z"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="open">
                                    <ul>
                                        <li>
                                            <a href="">일반침대</a>
                                        </li>
                                        <li>
                                            <a href="">수납침대</a>
                                        </li>
                                        <li>
                                            <a href="">저상형침대</a>
                                        </li>
                                        <li>
                                            <a href="">패밀리침대</a>
                                        </li>
                                        <li>
                                            <a href="">이층·벙커침대</a>
                                        </li>
                                        <li>
                                            <a href="">투매트리스</a>
                                        </li>
                                        <li>
                                            <a href="">모션베드</a>
                                        </li>
                                        <li>
                                            <a href="">침대부속가구</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">침대부속가구</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <div class="list-btn">
                        <a href="" class="link stretch">매트리스·토퍼</a>
                        <button type="button" class="btn">
                            <svg class="icon" width="12" height="12" fill="currentColor" viewBox="0 0 12 12"
                                 preserveAspectRatio="xMidYMid meet">
                                <path d="M6.07 7.56l4.39-4.55.87.87-5.25 5.45L.67 3.9 1.53 3z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="open-box">
                        <ul>
                            <li>
                                <div>
                                    <a href="" class="stretch">메트리스</a>
                                    <button type="button">
                                        <img class="icon" src="/assets/images/category/down.png" alt="">
                                    </button>
                                </div>
                                <div class="open visible">
                                    <ul>
                                        <li>
                                            <a href="">스프링메트리스</a>
                                        </li>
                                        <li>
                                            <a href="">라텍스메트리스</a>
                                        </li>
                                        <li>
                                            <a href="">폼매트리스</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">토퍼</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <div class="list-btn">
                        <a href="" class="link stretch">테이블·식탁·책상</a>
                        <button type="button" class="btn">
                            <svg class="icon" width="12" height="12" fill="currentColor" viewBox="0 0 12 12"
                                 preserveAspectRatio="xMidYMid meet">
                                <path d="M6.07 7.56l4.39-4.55.87.87-5.25 5.45L.67 3.9 1.53 3z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="open-box">
                        <ul>
                            <li>
                                <div>
                                    <a href="" class="stretch">거실·소파테이블</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">사이드테이블</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">식탁</a>
                                    <button type="button">
                                        <img class="icon" src="/assets/images/category/down.png" alt="">
                                    </button>
                                </div>
                                <div class="open visible">
                                    <ul>
                                        <li>
                                            <a href="">식탁·입식테이블</a>
                                        </li>
                                        <li>
                                            <a href="">홈바·아일랜드식탁</a>
                                        </li>
                                        <li>
                                            <a href="">식탁+의자</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">책상</a>
                                    <button type="button">
                                        <img class="icon" src="/assets/images/category/down.png" alt="">
                                    </button>
                                </div>
                                <div class="open visible">
                                    <ul>
                                        <li>
                                            <a href="">일반책상</a>
                                        </li>
                                        <li>
                                            <a href="">좌식책</a>
                                        </li>
                                        <li>
                                            <a href="">모션·스탠딩책상</a>
                                        </li>
                                        <li>
                                            <a href="">독서실책상</a>
                                        </li>
                                        <li>
                                            <a href="">학원·사무용책상</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">좌식테이블</a>
                                    <button type="button">
                                        <img class="icon" src="/assets/images/category/down.png" alt="">
                                    </button>
                                </div>
                                <div class="open visible">
                                    <ul>
                                        <li>
                                            <a href="">접이식테이블</a>
                                        </li>
                                        <li>
                                            <a href="">비접이식테이블</a>
                                        </li>
                                        <li>
                                            <a href="">교자상</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <div class="list-btn">
                        <a href="" class="link stretch">소파</a>
                        <button type="button" class="btn">
                            <svg class="icon" width="12" height="12" fill="currentColor" viewBox="0 0 12 12"
                                 preserveAspectRatio="xMidYMid meet">
                                <path d="M6.07 7.56l4.39-4.55.87.87-5.25 5.45L.67 3.9 1.53 3z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="open-box">
                        <ul>
                            <li>
                                <div>
                                    <a href="" class="stretch">일반소파</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">리클라이너</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">소파베드</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">좌식소파</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">소파스툴</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <div class="list-btn">
                        <a href="" class="link stretch">테이블·식탁·책상</a>
                        <button type="button" class="btn">
                            <svg class="icon" width="12" height="12" fill="currentColor" viewBox="0 0 12 12"
                                 preserveAspectRatio="xMidYMid meet">
                                <path d="M6.07 7.56l4.39-4.55.87.87-5.25 5.45L.67 3.9 1.53 3z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="open-box">
                        <ul>
                            <li>
                                <div>
                                    <a href="" class="stretch">거실·소파테이블</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">사이드테이블</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">식탁</a>
                                    <button type="button">
                                        <img class="icon" src="/assets/images/category/down.png" alt="">
                                    </button>
                                </div>
                                <div class="open visible">
                                    <ul>
                                        <li>
                                            <a href="">식탁·입식테이블</a>
                                        </li>
                                        <li>
                                            <a href="">홈바·아일랜드식탁</a>
                                        </li>
                                        <li>
                                            <a href="">식탁+의자</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">책상</a>
                                    <button type="button">
                                        <img class="icon" src="/assets/images/category/down.png" alt="">
                                    </button>
                                </div>
                                <div class="open visible">
                                    <ul>
                                        <li>
                                            <a href="">일반책상</a>
                                        </li>
                                        <li>
                                            <a href="">좌식책</a>
                                        </li>
                                        <li>
                                            <a href="">모션·스탠딩책상</a>
                                        </li>
                                        <li>
                                            <a href="">독서실책상</a>
                                        </li>
                                        <li>
                                            <a href="">학원·사무용책상</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="" class="stretch">좌식테이블</a>
                                    <button type="button">
                                        <img class="icon" src="/assets/images/category/down.png" alt="">
                                    </button>
                                </div>
                                <div class="open visible">
                                    <ul>
                                        <li>
                                            <a href="">접이식테이블</a>
                                        </li>
                                        <li>
                                            <a href="">비접이식테이블</a>
                                        </li>
                                        <li>
                                            <a href="">교자상</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="list-item">
                <li class="item">
                    <a href="">장마대비</a>
                </li>
                <li class="item">
                    <a href="">패브릭</a>
                </li>
                <li class="item">
                    <a href="">가전·디지털</a>
                </li>
                <li class="item">
                    <a href="">주방용품</a>
                </li>
                <li class="item">
                    <a href="">식품</a>
                </li>
                <li class="item">
                    <a href="">데코·식물</a>
                </li>
                <li class="item">
                    <a href="">조명</a>
                </li>
                <li class="item">
                    <a href="">수납·정리</a>
                </li>
                <li class="item">
                    <a href="">생활용품</a>
                </li>
                <li class="item">
                    <a href="">생필품</a>
                </li>
                <li class="item">
                    <a href="">유아·아동</a>
                </li>
                <li class="item">
                    <a href="">반려동물</a>
                </li>
                <li class="item">
                    <a href="">캠핑·레저</a>
                </li>
                <li class="item">
                    <a href="">인테리어시공</a>
                </li>
                <li class="item">
                    <a href="">렌탈·구독</a>
                </li>
                <li class="item">
                    <a href="">장마대비</a>
                </li>
                <li class="item">
                    <a href="">장보기</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="item-box visible">
        <div class="filter-items">
            <div class="all-caption">
                <span th:text="${'전체 ' + products.size()} +'개' ">전체 286,297개</span>
                <div class="stretch"></div>
                <div>
                    <button type="button">
                        추천순
                        <svg class="icon" width="8" height="8" viewBox="0 0 8 8" preserveAspectRatio="xMidYMid meet">
                            <path fill="#BDBDBD" d="M0 2l4 4 4-4z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="all-product">
            <div class="line-box">
                <a th:each="product : ${products}"
                   th:href="@{/product/production(id=${product.id})}">
                    <div class="box">
                        <div class="img">
                            <img th:src="@{/product/image(id=${product.id})}" alt="">
                        </div>
                        <div class="caption">
                            <span class="title" th:text="${product.getTitle()}">제목칸</span>
                            <span class="price" th:text="${product.formattedPrice} + '원'">가격칸</span>
                            <span class="date" th:text="${product.elapsedTime}">올라온 날짜</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer id="footer">
    <div class="all">
        <div class="first">
            <div class="titleBox">
                <a href="#" class="title">고객센터</a>
                <span>></span>
            </div>
            <div class="call">
                <a href="#">1670-XXXX</a>
                <span>09:00 ~ 18:00</span>
            </div>
            <div class="counsel">
                <ul>
                    <li>• 평일: 전체 문의 상담</li>
                    <li>• 토요일, 공휴일: 오늘의집 직접배송 주문건 상담</li>
                    <li>• 일요일: 휴무</li>
                </ul>
            </div>
            <div class="email">
                <button>카톡 상담(평일 09:00~18:00)</button>
                <div>
                    <a href="#">이메일 문의</a>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="second">
            <div>
                <a href="#">회사소개</a>
                <a href="#">채용정보</a>
                <a href="#">이용약관</a>
                <a href="#" class="weight">개인정보 처리방침</a>
                <a href="#">공지사항</a>
                <a href="#">권리보호센터</a>
                <a href="#">입점신청</a>
                <a href="#">제휴/광고 문의</a>
                <a href="#">시공파트너 안내</a>
                <a href="#" class="weight">파트너 개인정보 처리방침</a>
                <a href="#">상품광고 소개</a>
                <a href="#">고객의 소리</a>
            </div>
        </div>
        <div class="line"></div>
        <div class="third">
            <div class="text">
                <div>
                    <span>(주)버킷플레이스 | 대표이사 이승재 | 서울 서초구 서초대로74길 4 삼성생명서초타워 25층, 27층</span>
                </div>
                <div>
                    <span><a href="#" class="link">contact@bucketplace.net</a> | 사업자등록번호 119-86-91245 <a href="#">사업자정보확인</a></span>
                </div>
                <div class="margin">
                    <span>통신판매업신고번호 제2018-서울서초-0580호</span>
                </div>
            </div>
            <div class="last">
                <span>고객님이 현금결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다. <a href="#"
                                                                                  class="link">서비스가입사실확인</a></span>
            </div>
            <div class="box">
                <div class="first">
                    <img src="/assets/images/index/footer/shield.png" alt="" class="icon">
                    <div>
            <span>오늘의집 서비스 운영<br>
            2024. 09. 08 ~ 2027. 09. 07</span>
                    </div>
                </div>
                <div class="second">
                    <img src="/assets/images/index/footer/image.png" alt="" class="icon">
                </div>
                <div class="third">
                    <img src="/assets/images/index/footer/image2.png" alt="" class="icon">
                </div>
            </div>
            <div class="bottom">
                (주)버킷플레이스는 통신판매중개자로 거래 당사자가 아니므로, 판매자가 등록한 상품정보 및 거래 등에 대해 책임을 지지 않습니다. 단, (주)버킷플레이스가 판매자로 등록 판매한 상품은
                판매자로서 책임을
                부담합니다.
            </div>
            <div class="link">
                <a href="#">
                    <img src="/assets/images/index/footer/youtube.png" alt="">
                </a>
                <a href="#">
                    <img src="/assets/images/index/footer/instagram.png" alt="">
                </a>
            </div>
            <span>
        Copyright 2014. bucketplace, Co., Ltd. All rights reserved.
      </span>
        </div>
    </div>
</footer>
</body>

</html>
