<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>쇼핑은 쉽게, 스타일링은 즐겁게! 오늘의집 쇼핑</title>
    <meta name="description" content="감도높은 유저들의 일상 구경부터 제품 구매까지 한번에"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="preconnect" href="https://cdn.jsdelivr.net"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css"/>
    <link rel="icon" href="/assets/images/image_cover.png">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.min.css">
    <link rel="stylesheet" type="text/css" href="/product/assets/styles/product-main.min.css">
    <script defer src="/assets/scripts/index.js" type="text/javascript"></script>
    <script defer src="/product/assets/scripts/product-index.js"></script>
</head>

<body>
<!-- Header -->
<header th:replace="~{fragments/header :: header}"></header>
<div th:replace="~{fragments/header :: mini-header}"></div>

<!-- Main Content -->
<main id="main-content">
    <section class="slide">
        <div class="carousel-container">
            <button class="carousel-control prev">&lt;</button>
            <div class="carousel-wrapper">
                <ul class="carousel-track">
                    <li class="carousel-item">
                        <img src="/product/assets/images/index/banner1.png" alt="배너1">
                    </li>
                    <li class="carousel-item">
                        <img src="/product/assets/images/index/banner2.png" alt="배너2">
                    </li>
                    <li class="carousel-item">
                        <img src="/product/assets/images/index/banner3.png" alt="배너3">
                    </li>
                    <li class="carousel-item">
                        <img src="/product/assets/images/index/banner4.png" alt="배너4">
                    </li>
                    <li class="carousel-item">
                        <img src="/product/assets/images/index/banner5.png" alt="배너5">
                    </li>
                </ul>
            </div>
            <button class="carousel-control next">&gt;</button>
        </div>
    </section>
    <!--    <section class="first-product">-->
    <!--        <div class="all">-->
    <!--            <div class="category">-->
    <!--                <div class="box">-->
    <!--                    <div class="position">-->
    <!--                        <ul class="items">-->
    <!--                            <li class="item">-->
    <!--                                <div>-->
    <!--                                    <label>-->
    <!--                                        <input type="checkbox" checked>-->
    <!--                                        <span>추천</span>-->
    <!--                                    </label>-->
    <!--                                </div>-->
    <!--                            </li>-->
    <!--                            <li class="item">-->
    <!--                                <div>-->
    <!--                                    <label>-->
    <!--                                        <input type="checkbox">-->
    <!--                                        <span>선반</span>-->
    <!--                                    </label>-->
    <!--                                </div>-->
    <!--                            </li>-->
    <!--                        </ul>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="product-box">-->
    <!--                <ul class="items">-->
    <!--                    <li class="item">-->
    <!--                        <article>-->
    <!--                            <a href="#"></a>-->
    <!--                            <div class="img">-->
    <!--                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-222482030448768.jpg?w=256&h=256&c=c&q=50"-->
    <!--                                     alt="SUS 스틸 유닛 선반세트 라이트그레이 8size">-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div class="caption">-->
    <!--                                    <span class="store">무인양품</span>-->
    <!--                                    <span class="title">SUS 스틸 유닛 선반세트 라이트그레이 8size</span>-->
    <!--                                </div>-->
    <!--                                <div>-->
    <!--                                    <span class="price">99,000</span>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </article>-->
    <!--                    </li>-->

    <!--                    <li class="item">-->
    <!--                        <article>-->
    <!--                            <a href="#"></a>-->
    <!--                            <div class="img">-->
    <!--                                <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/productions/165484030201109415.jpg?w=256&h=256&c=c&q=50"-->
    <!--                                     alt="SUS 스테인리스 유닛 선반 실버">-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div class="caption">-->
    <!--                                    <span class="store">무인양품</span>-->
    <!--                                    <span class="title">SUS 스테인리스 유닛 선반 실버 색상 기본형</span>-->
    <!--                                </div>-->
    <!--                                <div>-->
    <!--                                    <span class="price">249,000</span>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </article>-->
    <!--                    </li>-->

    <!--                    <li class="item">-->
    <!--                        <article>-->
    <!--                            <a href="#"></a>-->
    <!--                            <div class="img">-->
    <!--                                <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/productions/168128517539106313.jpg?w=256&h=256&c=c&q=50"-->
    <!--                                     alt="서랍장 세트 오크">-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div class="caption">-->
    <!--                                    <span class="store">무인양품(해외)</span>-->
    <!--                                    <span class="title">[해외] SUS 유닛선반 2단 수납 서랍장 세트 오크</span>-->
    <!--                                </div>-->
    <!--                                <div>-->
    <!--                                    <span class="price"><span>20%</span> 814,000</span>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </article>-->
    <!--                    </li>-->

    <!--                    <li class="item">-->
    <!--                        <article>-->
    <!--                            <a href="#"></a>-->
    <!--                            <div class="img">-->
    <!--                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-374311295467520.jpg?w=256&h=256&c=c&q=50"-->
    <!--                                     alt="책장 세트">-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div class="caption">-->
    <!--                                    <span class="store">무인양품(해외)</span>-->
    <!--                                    <span class="title">[해외] 모듈 선반 책장 수납 장식장 3단 세트</span>-->
    <!--                                </div>-->
    <!--                                <div>-->
    <!--                                    <span class="price"><span>25%</span> 359,000</span>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </article>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->
    <section class="category-box">
        <div class="category">
            <div class="box">
                <div class="position">
                    <ul class="items">
                        <li class="item">
                            <div>
                                <h2 class="title">카테고리</h2>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-box">
            <ul class="items">
                <li class="item" >
                    <a th:href="@{/product/all}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_all.png" alt="">
                            </div>
                            <span>전체</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/product/all(category='bed')}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_bed.png" alt="">
                            </div>
                            <span>침대</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/product/all(category='chair')}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_chair.png" alt="">
                            </div>
                            <span>의자</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/product/all(category='closet')}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_closet.png" alt="">
                            </div>
                            <span>옷장</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/product/all(category='desk')}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_desk.png" alt="">
                            </div>
                            <span>책상</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/product/all(category='sofa')}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_sofa.png" alt="">
                            </div>
                            <span>소파</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/product/all(category='stand')}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_stand.png" alt="">
                            </div>
                            <span>스탠드</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/product/all(category='table')}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_table.png" alt="">
                            </div>
                            <span>테이블</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/product/all(category='tray')}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_tray.png" alt="">
                            </div>
                            <span>선반</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/product/all(category='etc')}">
                        <div>
                            <div>
                                <img class="img" src="/product/assets/images/index/category/category_etc.png" alt="">
                            </div>
                            <span>기타</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="products">
        <div class="all">
            <div class="category">
                <div class="box">
                    <div class="position">
                        <ul class="items">
                            <li class="item">
                                <div>
                                    <label>
                                        <input type="radio" checked>
                                        <span>날짜순</span>
                                    </label>
                                </div>
                            </li>
                            <li class="item">
                                <div>
                                    <label>
                                        <input type="radio">
                                        <span>인기</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-all-box">
                <ul class="items">
                    <li class="item">
                        <a th:each="product : ${products}"
                           th:href="@{/product/production (category=${product.categoryCode}, id=${product.id})}">
                            <div class="box">
                                <div class="img">
                                    <img th:src="@{/product/image(id=${product.id})}" alt="">
                                </div>
                                <div class="caption">
                                    <span class="title" th:text="${product.getTitle()}">제목칸</span>
                                    <span class="price" th:text="${product.formattedPrice} + '원'">가격칸</span>
                                    <span class="date" th:text="${product.elapsedTime}">올라온 날짜</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>
