<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>쇼핑은 쉽게, 스타일링은 즐겁게! 오늘의집 쇼핑</title>
    <meta name="description" content="감도높은 유저들의 일상 구경부터 제품 구매까지 한번에"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="preconnect" href="https://cdn.jsdelivr.net"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css"/>
    <link rel="icon" href="/assets/images/index/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.min.css">
    <link rel="stylesheet" type="text/css" href="/product/assets/styles/product-main.min.css">
    <script defer src="/product/assets/scripts/product-index.js"></script>
</head>

<body>
<!-- Header -->
<header th:replace="~{fragments/header :: header}"></header>
<div th:replace="~{fragments/header :: mini-header}"></div>

<!-- Main Content -->
<main id="main-content">
    <section class="slide">
        <div class="carousel-container">
            <button class="carousel-control prev">&lt;</button>
            <div class="carousel-wrapper">
                <ul class="carousel-track">
                    <li class="carousel-item">
                        <img src="/product/assets/images/banner1.png" alt="배너1">
                    </li>
                    <li class="carousel-item">
                        <img src="/product/assets/images/banner2.png" alt="배너2">
                    </li>
                    <li class="carousel-item">
                        <img src="/product/assets/images/banner3.png" alt="배너3">
                    </li>
                    <li class="carousel-item">
                        <img src="/product/assets/images/banner4.png" alt="배너4">
                    </li>
                    <li class="carousel-item">
                        <img src="/product/assets/images/banner5.png" alt="배너5">
                    </li>
                </ul>
            </div>
            <button class="carousel-control next">&gt;</button>
        </div>
    </section>
<!--    <section class="first-product">-->
<!--        <div class="all">-->
<!--            <div class="category">-->
<!--                <div class="box">-->
<!--                    <div class="position">-->
<!--                        <ul class="items">-->
<!--                            <li class="item">-->
<!--                                <div>-->
<!--                                    <label>-->
<!--                                        <input type="checkbox" checked>-->
<!--                                        <span>추천</span>-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li class="item">-->
<!--                                <div>-->
<!--                                    <label>-->
<!--                                        <input type="checkbox">-->
<!--                                        <span>선반</span>-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="product-box">-->
<!--                <ul class="items">-->
<!--                    <li class="item">-->
<!--                        <article>-->
<!--                            <a href="#"></a>-->
<!--                            <div class="img">-->
<!--                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-222482030448768.jpg?w=256&h=256&c=c&q=50"-->
<!--                                     alt="SUS 스틸 유닛 선반세트 라이트그레이 8size">-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div class="caption">-->
<!--                                    <span class="store">무인양품</span>-->
<!--                                    <span class="title">SUS 스틸 유닛 선반세트 라이트그레이 8size</span>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <span class="price">99,000</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </article>-->
<!--                    </li>-->

<!--                    <li class="item">-->
<!--                        <article>-->
<!--                            <a href="#"></a>-->
<!--                            <div class="img">-->
<!--                                <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/productions/165484030201109415.jpg?w=256&h=256&c=c&q=50"-->
<!--                                     alt="SUS 스테인리스 유닛 선반 실버">-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div class="caption">-->
<!--                                    <span class="store">무인양품</span>-->
<!--                                    <span class="title">SUS 스테인리스 유닛 선반 실버 색상 기본형</span>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <span class="price">249,000</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </article>-->
<!--                    </li>-->

<!--                    <li class="item">-->
<!--                        <article>-->
<!--                            <a href="#"></a>-->
<!--                            <div class="img">-->
<!--                                <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/productions/168128517539106313.jpg?w=256&h=256&c=c&q=50"-->
<!--                                     alt="서랍장 세트 오크">-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div class="caption">-->
<!--                                    <span class="store">무인양품(해외)</span>-->
<!--                                    <span class="title">[해외] SUS 유닛선반 2단 수납 서랍장 세트 오크</span>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <span class="price"><span>20%</span> 814,000</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </article>-->
<!--                    </li>-->

<!--                    <li class="item">-->
<!--                        <article>-->
<!--                            <a href="#"></a>-->
<!--                            <div class="img">-->
<!--                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-374311295467520.jpg?w=256&h=256&c=c&q=50"-->
<!--                                     alt="책장 세트">-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div class="caption">-->
<!--                                    <span class="store">무인양품(해외)</span>-->
<!--                                    <span class="title">[해외] 모듈 선반 책장 수납 장식장 3단 세트</span>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <span class="price"><span>25%</span> 359,000</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </article>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <section class="category-box">
        <div class="category">
            <div class="box">
                <div class="position">
                    <ul class="items">
                        <li class="item">
                            <div>
                                <h2 class="title">카테고리</h2>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-box">
            <ul class="items">
                <li class="item">
                    <a href="">
                        <div>
                            <div>
                                <img class="img"
                                     src="https://prs.ohousecdn.com/apne2/commerce/uploads/category/store_home_categories/v1-385250344489024.png"
                                     alt="">
                            </div>
                            <span>장마대비</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div>
                            <div>
                                <img class="img"
                                     src="https://prs.ohousecdn.com/apne2/commerce/uploads/category/store_home_categories/v1-385250344489024.png"
                                     alt="">
                            </div>
                            <span>장마대비</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div>
                            <div>
                                <img class="img"
                                     src="https://prs.ohousecdn.com/apne2/commerce/uploads/category/store_home_categories/v1-385250344489024.png"
                                     alt="">
                            </div>
                            <span>장마대비</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div>
                            <div>
                                <img class="img"
                                     src="https://prs.ohousecdn.com/apne2/commerce/uploads/category/store_home_categories/v1-385250344489024.png"
                                     alt="">
                            </div>
                            <span>장마대비</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div>
                            <div>
                                <img class="img"
                                     src="https://prs.ohousecdn.com/apne2/commerce/uploads/category/store_home_categories/v1-385250344489024.png"
                                     alt="">
                            </div>
                            <span>장마대비</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div>
                            <div>
                                <img class="img"
                                     src="https://prs.ohousecdn.com/apne2/commerce/uploads/category/store_home_categories/v1-385250344489024.png"
                                     alt="">
                            </div>
                            <span>장마대비</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div>
                            <div>
                                <img class="img"
                                     src="https://prs.ohousecdn.com/apne2/commerce/uploads/category/store_home_categories/v1-385250344489024.png"
                                     alt="">
                            </div>
                            <span>장마대비</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div>
                            <div>
                                <img class="img"
                                     src="https://prs.ohousecdn.com/apne2/commerce/uploads/category/store_home_categories/v1-385250344489024.png"
                                     alt="">
                            </div>
                            <span>장마대비</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="products">
        <div class="all">
            <div class="category">
                <div class="box">
                    <div class="position">
                        <ul class="items">
                            <li class="item">
                                <div>
                                    <label>
                                        <input type="checkbox" checked>
                                        <span>추천</span>
                                    </label>
                                </div>
                            </li>
                            <li class="item">
                                <div>
                                    <label>
                                        <input type="checkbox">
                                        <span>예쁜</span>
                                    </label>
                                </div>
                            </li>
                            <li class="item">
                                <div>
                                    <label>
                                        <input type="checkbox">
                                        <span>유용한</span>
                                    </label>
                                </div>
                            </li>
                            <li class="item">
                                <div>
                                    <label>
                                        <input type="checkbox">
                                        <span>귀여운</span>
                                    </label>
                                </div>
                            </li>
                            <li class="item">
                                <div>
                                    <label>
                                        <input type="checkbox">
                                        <span>오늘의딜</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-all-box">
                <div class="line-box">
                    <a th:each="product : ${products}"
                       th:href="@{/product/production(id=${product.id})}">
                        <div class="box">
                            <div class="img">
                                <img th:src="@{/product/image(id=${product.id})}"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="title" th:text="${product.getTitle()}">제목칸</span>
                                <span class="price" th:text="${product.formattedPrice} + '원'">가격칸</span>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="line-box">
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="line-box">
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="box">
                            <div class="img">
                                <img src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-362912159035456.jpg?w=360&h=360&c=c&q=50"
                                     alt="">
                            </div>
                            <div class="caption">
                                <span class="brand">브랜드</span>
                                <span class="title">제목칸</span>
                                <span class="price">가격칸</span>
                                <span class="review">별점 및 리뷰</span>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer id="footer">
    <div class="all">
        <div class="first">
            <div class="titleBox">
                <a href="#" class="title">고객센터</a>
                <span>></span>
            </div>
            <div class="call">
                <a href="#">1670-XXXX</a>
                <span>09:00 ~ 18:00</span>
            </div>
            <div class="counsel">
                <ul>
                    <li>• 평일: 전체 문의 상담</li>
                    <li>• 토요일, 공휴일: 오늘의집 직접배송 주문건 상담</li>
                    <li>• 일요일: 휴무</li>
                </ul>
            </div>
            <div class="email">
                <button>카톡 상담(평일 09:00~18:00)</button>
                <div>
                    <a href="#">이메일 문의</a>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="second">
            <div>
                <a href="#">회사소개</a>
                <a href="#">채용정보</a>
                <a href="#">이용약관</a>
                <a href="#" class="weight">개인정보 처리방침</a>
                <a href="#">공지사항</a>
                <a href="#">권리보호센터</a>
                <a href="#">입점신청</a>
                <a href="#">제휴/광고 문의</a>
                <a href="#">시공파트너 안내</a>
                <a href="#" class="weight">파트너 개인정보 처리방침</a>
                <a href="#">상품광고 소개</a>
                <a href="#">고객의 소리</a>
            </div>
        </div>
        <div class="line"></div>
        <div class="third">
            <div class="text">
                <div>
                    <span>(주)버킷플레이스 | 대표이사 이승재 | 서울 서초구 서초대로74길 4 삼성생명서초타워 25층, 27층</span>
                </div>
                <div>
                    <span><a href="#" class="link">contact@bucketplace.net</a> | 사업자등록번호 119-86-91245 <a href="#">사업자정보확인</a></span>
                </div>
                <div class="margin">
                    <span>통신판매업신고번호 제2018-서울서초-0580호</span>
                </div>
            </div>
            <div class="last">
                <span>고객님이 현금결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다. <a href="#"
                                                                                  class="link">서비스가입사실확인</a></span>
            </div>
            <div class="box">
                <div class="first">
                    <img src="/assets/images/index/footer/shield.png" alt="" class="icon">
                    <div>
            <span>오늘의집 서비스 운영<br>
            2024. 09. 08 ~ 2027. 09. 07</span>
                    </div>
                </div>
                <div class="second">
                    <img src="/assets/images/index/footer/image.png" alt="" class="icon">
                </div>
                <div class="third">
                    <img src="/assets/images/index/footer/image2.png" alt="" class="icon">
                </div>
            </div>
            <div class="bottom">
                (주)버킷플레이스는 통신판매중개자로 거래 당사자가 아니므로, 판매자가 등록한 상품정보 및 거래 등에 대해 책임을 지지 않습니다. 단, (주)버킷플레이스가 판매자로 등록 판매한 상품은
                판매자로서 책임을
                부담합니다.
            </div>
            <div class="link">
                <a href="#">
                    <img src="/assets/images/index/footer/youtube.png" alt="">
                </a>
                <a href="#">
                    <img src="/assets/images/index/footer/instagram.png" alt="">
                </a>
            </div>
            <span>
        Copyright 2014. bucketplace, Co., Ltd. All rights reserved.
      </span>
        </div>
    </div>
</footer>

</body>

</html>
