<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>라이프스타일 슈퍼앱, 오늘의집</title>
    <meta name="description" content="감도높은 유저들의 일상 구경부터 제품 구매까지 한번에"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="preconnect" href="https://cdn.jsdelivr.net"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css"/>
    <link rel="icon" href="/assets/images/favicon.png">
    <script defer src="/assets/scripts/product/product-index.js"></script>
</head>

<body>
<!-- Header -->
<header th:replace="~{fragments/header :: header}"></header>
<div th:replace="~{fragments/header :: mini-header}"></div>

<!-- Main Content -->
<main id="main-production">
    <section class="img-section">
        <div class="img-box">
            <img src="https://img2.joongna.com/media/original/2025/06/24/1750741823306Fxd_oSj90.jpg?impolicy=resizeWatermark3&ftext=%EB%A6%AC%EB%8B%88%EB%8B%B7&size=600"
                 alt="">
        </div>
    </section>
    <section class="explain-section">
        <div class="explain">
            <div class="title-box">
                <span class="title" th:text="${product.getTitle()}">거의 안쓴 가구 정리해요</span>
                <span class="price" th:text="${product.formattedPrice} + '원'"></span>
                <span th:text="${product.elapsedTime} + ' · 조회수 ' + ${product.viewCount}">날짜 · 조회 0</span>
            </div>
            <div class="explain-box">
                <p th:text="${product.getDescription()}">설명 없음</p>
            </div>
            <div class="profile">
                <div class="image-wrapper">
                    <img src="https://media.bunjang.co.kr/images/crop/1076848144_w160.jpg" alt="" class="image">
                </div>
                <div class="text-container">
                    <a href="#" class="name">불사신</a>
                    <span class="spec-container"> <a href="#" class="link">상품 1</a> </span>
                </div>
            </div>
            <div class="pay">
                <div class="button-container">
                    <button>즐겨찾기</button>
                    <button>결재하기</button>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>
