body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  height: 100%;
}
body > * {
  flex-grow: 0;
  flex-shrink: 0;
}
body > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

#login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 18.75rem;
  height: 100%;
}
#login-form > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#login-form > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#login-form > .title-container {
  margin-bottom: 1.875rem;
}
#login-form > .login-container, #login-form .sns-container, #login-form .order-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
#login-form > .login-container > *, #login-form .sns-container > *, #login-form .order-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#login-form > .login-container > .stretch, #login-form .sns-container > .stretch, #login-form .order-container > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#login-form > .login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
}
#login-form > .login-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#login-form > .login-container > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#login-form > .login-container > .login-label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
#login-form > .login-container > .login-label > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#login-form > .login-container > .login-label > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#login-form > .login-container > .login-label > input {
  border: 0.0625rem solid #DBDBDB;
}
#login-form > .login-container > .login-label > input:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
#login-form > .login-container > .login-label > input:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#login-form > .login-container > button {
  margin: 1.25rem 0;
}
#login-form > .login-container > .forgot-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
}
#login-form > .login-container > .forgot-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#login-form > .login-container > .forgot-container > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#login-form > .login-container > .forgot-container > a {
  color: #424242;
  font-size: 0.9rem;
}
#login-form > .sns-container > span {
  margin: 2.1875rem 0 0.9375rem;
  color: #757575;
  font-size: 0.75rem;
}
#login-form > .sns-container > .list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
#login-form > .sns-container > .list > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#login-form > .sns-container > .list > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#login-form > .sns-container > .list > .item > a > .icon {
  width: 3rem;
  height: 3rem;
}
#login-form > .sns-container > .list > .item > a > .icon:hover {
  filter: opacity(0.7);
  transition-duration: 175ms;
  transition-property: filter;
  transition-timing-function: ease;
}
#login-form > .sns-container > a {
  margin-top: 1.5rem;
  color: #cccccc;
  font-size: 0.8rem;
}
#login-form > .order-container {
  border-top: 0.0625rem solid #cccccc;
  margin-top: 1.875rem;
  padding-top: 1.875rem;
}
#login-form > .order-container > span {
  color: #828C94;
  cursor: pointer;
  margin-bottom: 1.25rem;
}
#login-form > .order-container > .input-order {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.75rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(1rem);
  margin-top: 0;
  transition: max-height 0.8s ease, opacity 0.8s ease, transform 0.8s ease, margin-top 0.8s ease;
}
#login-form > .order-container > .input-order > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#login-form > .order-container > .input-order > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#login-form > .order-container > .input-order.visible {
  max-height: 18rem;
  opacity: 1;
  transform: translateY(0rem);
  margin-top: 1.25rem;
}

/*# sourceMappingURL=login.css.map */
