#main-content > .content-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 70rem;
  padding: 3rem 0;
  margin: 0 auto;
}
#main-content > .content-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .content-container > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .content-container > .product-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  height: 3rem;
}
#main-content > .content-container > .product-info > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .content-container > .product-info > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .content-container > .product-info > .caption {
  font-size: 1.5rem;
  font-weight: 800;
}
#main-content > .content-container > .product-info > .number {
  color: #0198ED;
  font-size: 1.5rem;
  font-weight: 500;
}
#main-content > .content-container > .divider {
  width: 100%;
  border: none;
  border-top: 0.2rem dotted #cccccc;
  margin-top: 0.5rem;
}
#main-content > .content-container > .product-container {
  width: 100%;
  height: calc(100% - 3rem);
  position: relative;
  padding: 0.625rem;
  border-radius: 0.25rem;
  overflow: scroll;
}
#main-content > .content-container > .product-container > .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;
  width: 100%;
}
#main-content > .content-container > .product-container > .list > .item {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
}
#main-content > .content-container > .product-container > .list > .item > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .content-container > .product-container > .list > .item > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .content-container > .product-container > .list > .item > a {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.6rem;
}
#main-content > .content-container > .product-container > .list > .item > a > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .content-container > .product-container > .list > .item > a > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .content-container > .product-container > .list > .item > a > img {
  width: 16rem;
  height: 16rem;
  border-radius: 0.625rem;
  object-fit: cover;
  object-position: center;
}
#main-content > .content-container > .product-container > .list > .item > a > .title {
  width: 100%;
  font-size: 1rem;
  text-align: left;
}
#main-content > .content-container > .product-container > .list > .item > a > .price {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 800;
  text-align: left;
}
#main-content > .content-container > .product-container > .list > .item > a:hover > img {
  transform: scale(1.05);
  transition-property: transform;
  transition-duration: 175ms;
  transition-timing-function: ease;
}

/*# sourceMappingURL=myProductLike.css.map */
