@charset "UTF-8";
@import "../../../assets/styles/_def.scss";

//.background {
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 200%;
//  height: 200%;
//  background: linear-gradient(135deg, #ffffff 25%, #3498db 25%, #3498db 50%, #ffffff 50%, #ffffff 75%, #3498db 75%, #3498db);
//  background-size: 10rem 10rem;
//  animation: moveBackground 10s linear infinite;
//  z-index: 0;
//  opacity: 0.2; // 살짝만 보이게 조절
//}
//@keyframes moveBackground {
//  0%{
//    background-position: 0 0;
//  }
//  100%{
//    background-position: 100px 100px;
//  }
//}
body {
  @include flex(column, center, center);
  width: 100vw;
  height: 100vh;
}

header {
  width: 78rem;
  margin-bottom: 1rem;

  > div {
    width: 100%;

    > span {
      font-weight: 600;
      font-size: 1.5rem;
    }

  }
}

#notice-form {
  @include flex(column, flex-start, stretch);
  width: 78rem;
  height: 50.75rem;
  //background-color: #f6f9fa;
  border-radius: 0.625rem;

  > .title-container {
    @include flex(column, flex-start, flex-start, 0.625rem);
    width: 100%;
    height: 5rem;
    //background-color: #828C94;
    border-bottom: 0.0625rem solid #828C94;
    position: relative;

    > span {
      font-weight: 500;
      font-size: 1.125rem;
    }

    > label {
      @include flex(row, flex-start, space-between);
      width: 100%;
      height: 100%;

      > input {
        width: 70rem;
        height: 2rem;
        //border: 0.0625rem solid #828C94;
        padding: 0.625rem;
        background-color: #f6f9fa;
        border-radius: 0.08125rem;
      }

      > button {
        width: 4rem;
        height: 2rem;
        background-color: #0478F8;
        color: #fff;

        &:hover {
          background-color: #025bbe;
        }

        border-radius: 0.25rem;
      }
    }

    > .divider {
      content: '';
      width: 100%;
      height: 0.0625rem;
      //margin-top: -0.6rem;
      background-color: #828C94;
      top: 90%;
      position: absolute;
    }
  }


  > .ck {
    width: 100%;
    height: 100%;
  }

  > label {
    width: 100%;

    > .text-container {
      width: 100%;
    }
  }
}

#modify-form {
  @include flex(column, flex-start, stretch);
  width: 78rem;
  height: 50.75rem;

  > .title-container {
    @include flex(column, flex-start, flex-start, 0.625rem);
    width: 100%;
    height: 5rem;
    //background-color: #828C94;
    border-bottom: 0.0625rem solid #828C94;
    position: relative;

    > span {
      font-weight: 500;
      font-size: 1.5rem;
    }

    > label {
      @include flex(row, flex-start, space-between);
      width: 100%;
      height: 100%;

      > input {
        width: 70rem;
        height: 2rem;
        //border: 0.0625rem solid #828C94;
        padding: 0.625rem;
        background-color: #f6f9fa;
        border-radius: 0.08125rem;
      }
    }
  }
  >label{
    width: 100%;
    height: 45rem;
  }
  >.button-container {
    @include flex(row, center, flex-end,0.5rem);
    margin-top: 1rem;
    width: 100%;
    >label>input{
      padding: 0.75rem;
      border: 0.0625rem solid #cccccc;
      &.warning{
        border: 0.0625rem solid #e74c3c;
      }
    }
    >.buttons{
      @include flex(row, center, center,0.5rem);
      height: 2.5rem;
    }
  }
}