@charset "UTF-8";
@import "../../../assets/styles/def";

#loading {
  @include flex(column, center, center, 0.5rem);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2c2c2ca0;
  backdrop-filter: blur(0.5rem);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;

  &.-visible {
    opacity: 1;
    pointer-events: auto;
  }

  > .icon {
    width: 3rem;
    height: 3rem;
    @keyframes loadingAni {
      0% {
        transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
      }
    }
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: loadingAni;
  }


  > .caption {
    color: white;
    font-size: 1.5rem;
  }

}

.container {
  @include flex(column, center, center);
  min-height: 100vh;
  background-color: #fff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: 0 1rem;

  > a {
    width: 100%;
    display: block;
  }

  > .register-section {
    @include flex(column, center, center);
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 2rem 1rem;

    > #register-form {
      width: 22.5rem;

      > .title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: left;
      }

      > .sns-login {
        @include flex(column, center, center, 0.5rem);
        width: 100%;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #ededed;

        > span {
          font-size: 0.75rem;
          color: #757575;
        }

        > .list {
          @include flex(row, center, center, 0.625rem);
          margin-top: 0.5rem;

          > .item {
            &.naver {
              > .icon {
                width: 3rem;
                height: 3rem;
                cursor: pointer;
              }
            }

            > a {
              > .icon {
                width: 3rem;
                height: 3rem;
                cursor: pointer;
              }
            }
          }
        }
      }

      .email-container,
      .password-container,
      .nickname-container,
      .agree-container {
        @include flex(column, flex-start, flex-start, 0.625rem);
        width: 100%;
        margin-top: 1.5rem;

        strong {
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 0.625rem;
        }

        span {
          font-size: 0.75rem;
          color: #757575;
          margin-bottom: 0.5rem;
        }

        > .label-object {
          @include flex(row, center, flex-start);
          width: 100%;

          & ~ .---warning {
            display: flex;
          }

          .disabled {
            background-color: #cccccc;
          }
        }
      }

      > .email-container {
        > .label-object {
          > input {
            width: 10.625rem;
          }
        }

        > button {
          border: 0.0625rem solid #cccccc;
          color: #ffffff;
          background-color: #0478F8;
        }

        > .email-verify {
          @include flex(column, flex-start, center);
          margin-top: 0.5rem;
          width: 100%;
          height: 0;
          background-color: #F6F9FA;
          border-radius: 0.25rem;
          padding: 1.25rem 1rem;
          opacity: 0;
          pointer-events: none;

          &.-visible {
            height: 9.75rem;
            opacity: 1;
            pointer-events: auto;
            transition-duration: 175ms;
            transition-property: opacity, height;
            transition-timing-function: ease;

          }
        }
      }

      > .password-container {
        > label {
          .input-object {

            &disabled {
              background-color: #828C94;
              color: #888888;
            }
          }
        }
      }

      > .agree-container {
        > .contract {
          @include flex(column, center, center, 0.5rem);
          border: 0.0625rem solid #cccccc;
          width: 100%;
          height: auto;
          border-radius: 0.25rem;
          padding: 0.5rem 0.5rem;

          > .label-agree {
            width: 100%;

            &:first-child {
              border-bottom: 0.0625rem solid #cccccc;
            }
          }
        }
      }

      > .button-object {
        margin-top: 1.2rem;
      }
    }
  }
}

 [data-role="passwordCheck-error"],[data-role="password-error"]
,[data-role="email-error"],[data-role="nickname-error"]{
  color: #e74c3c !important;
  display: none;
}

[data-role="passwordCheck-common"],[data-role="password-common"]
,[data-role="email-common"],[data-role="nickname-common"]{
  color: #e74c3c !important;
  display: none;
}
