@charset "UTF-8";

@import "../../def";
#mini-header {
  border-bottom: 0.0625rem solid #f2f4f8;
  width: 100%;
  height: 3rem;
  > .container {
    @include flex(column, flex-start, center, 1rem);
    max-width: 78.5rem;
    margin: 0 auto;
    padding: 0 3.75rem;
    height: 100%;

    > .category {
      @include flex(row, center, center, 1rem);
      font-weight: 700;
      height: 100%;

      > a {
        @include flex(row center, center);
        height: 100%;
        &:hover {
          color: #ff9f00;
          transition: none;
        }
      }

      > .active {
        color: #ff9f00;
        border-bottom: 0.0625rem solid #ff9f00;
        animation-delay: 0ms;
        transition: none;
      }
    }
  }
}

