<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgc.homggoo.mappers.article.ArticleUserLikeMapper">

    <delete id="delete">
        DELETE
        FROM `homggoo`.`article_user_likes`
        WHERE `article_id` = #{articleId}
          AND `user_email` = #{userEmail}
        LIMIT 1
    </delete>
    <insert id="insert">
        INSERT INTO `homggoo`.`article_user_likes`
            (`article_id`,
             `user_email`,
             `created_at`)
        VALUES
            (#{articleUserLike.articleId},
             #{articleUserLike.userEmail},
             #{articleUserLike.createdAt})
    </insert>

    <select id="selectByArticleIdAndUserEmail"
            resultType="com.hgc.homggoo.entities.article.ArticleUserLikeEntity">
        SELECT `article_id` AS `articleId`,
               `user_email`  AS `userEmail`,
               `created_at`  AS `createdAt`
        FROM `meltube`.`music_user_likes`
        WHERE `article_id` = #{articleId}
          AND `user_email` = #{userEmail}
            LIMIT 1
    </select>
</mapper>