<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgc.homggoo.mappers.article.ArticleUserLikeMapper">

    <delete id="delete">

    </delete>
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="article_id"
            keyProperty="article_id">
        INSERT INTO `homggoo`.`article_user_likes`
            (`article_id`,
             `user_email`,
             `created_at`)
        VALUES
            (#{articleUserLikes.articleId},
             #{articleUserLikes.userEmail},
             #{articleUserLikes.createdAt})
    </insert>
    <select id="selectByArticleidAndUserEmail"
            resultType="com.hgc.homggoo.entities.article.ArticleUserLikeEntity">

    </select>
</mapper>