<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgc.homggoo.mappers.article.ArticleMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        insert into `homggoo`.`article`
        (`board_id`, `category_id`, `user_email`, `title`, `content`, `view`, `created_at`, `modified_at`, `is_deleted`)
        VALUES (#{article.boardId},
                #{article.categoryId},
                #{article.userEmail},
                #{article.title},
                #{article.content},
                #{article.view},
                #{article.createdAt},
                #{article.modifiedAt},
                #{article.isDeleted})
    </insert>
    <update id="update">
        UPDATE `homggoo`.`article`
        SET `board_id`    = #{article.boardId},
            `category_id` = #{article.categoryId},
            `user_email`  = #{article.userEmail},
            `title`       = #{article.title},
            `content`     = #{article.content},
            `view`        = #{article.view},
            `created_at`  = #{article.createdAt},
            `modified_at` = #{article.modifiedAt},
            `is_deleted`  = #{article.isDeleted}
        WHERE `id` = #{article.id} LIMIT 1
    </update>
    <select id="selectByBoardId" resultType="com.hgc.homggoo.vos.ArticleVo">
        SELECT `T0`.`id`                         AS `id`,
               `T0`.`board_id`                   AS `boardId`,
               `T0`.`category_id`                AS `categoryId`,
               `T0`.`user_email`                 AS `userEmail`,
               `T0`.`title`                      AS `title`,
               `T0`.`content`                    AS `content`,
               `T0`.`view`                       AS `view`,
               `T0`.`created_at`                 AS `createdAt`,
               `T0`.`modified_at`                AS `modifiedAt`,
               `T0`.`is_deleted`                 AS `isDeleted`,
               `T1`.`nickname`                   AS `nickname`,
               `T1`.`image_url`                  AS `imageUrl`,
               COUNT(DISTINCT `T2`.`article_id`) AS `likeCount`,
               COUNT(DISTINCT `T3`.`id`)         AS `commentCount`
        FROM `homggoo`.`article` AS `T0`
                 LEFT JOIN `homggoo`.`users` AS `T1`
                           ON `T0`.`user_email` = `T1`.`email`
                 LEFT JOIN `homggoo`.`article_user_likes` AS `T2`
                           ON `T0`.`id` = `T2`.`article_id`
                 LEFT JOIN `homggoo`.`comments` AS `T3`
                           ON `T0`.`id` = `T3`.`article_id`
        WHERE `T0`.`board_id` = #{boardId}
        GROUP BY `T0`.`id`
        ORDER BY `T0`.`id` DESC
    </select>
    <select id="selectByBoardIdAndCategoryId" resultType="com.hgc.homggoo.vos.ArticleVo">
        SELECT `T0`.`id`                         AS `id`,
               `T0`.`board_id`                   AS `boardId`,
               `T0`.`category_id`                AS `categoryId`,
               `T0`.`user_email`                 AS `userEmail`,
               `T0`.`title`                      AS `title`,
               `T0`.`content`                    AS `content`,
               `T0`.`view`                       AS `view`,
               `T0`.`created_at`                 AS `createdAt`,
               `T0`.`modified_at`                AS `modifiedAt`,
               `T0`.`is_deleted`                 AS `isDeleted`,
               `T1`.`nickname`                   AS `nickname`,
               COUNT(DISTINCT `T2`.`article_id`) AS `likeCount`,
               COUNT(DISTINCT `T3`.`id`)         AS `commentCount`
        FROM `homggoo`.`article` AS `T0`
                 LEFT JOIN `homggoo`.`users` AS `T1`
                           ON `T0`.`user_email` = `T1`.`email`
                 LEFT JOIN `homggoo`.`article_user_likes` AS `T2`
                           ON `T0`.`id` = `T2`.`article_id`
                 LEFT JOIN `homggoo`.`comments` AS `T3`
                           ON `T0`.`id` = `T3`.`article_id`
        WHERE `T0`.`board_id` = #{boardId}
          AND `T0`.`category_id` = #{categoryId}
        GROUP BY `T0`.`id`
        ORDER BY `T0`.`id` DESC
    </select>
    <select id="selectById" resultType="com.hgc.homggoo.vos.ArticleVo">
        SELECT `T0`.`id`                AS `id`,
               `T0`.`board_id`          AS `boardId`,
               `T0`.`category_id`       AS `categoryId`,
               `T0`.`user_email`        AS `userEmail`,
               `T0`.`title`             AS `title`,
               `T0`.`content`           AS `content`,
               `T0`.`view`              AS `view`,
               `T0`.`created_at`        AS `createdAt`,
               `T0`.`modified_at`       AS `modifiedAt`,
               `T0`.`is_deleted`        AS `isDeleted`,
               `T1`.`nickname`          AS `nickname`,
               `T1`.`image_url`         AS `imageUrl`,
               COUNT(`T2`.`article_id`) AS `likeCount`
        FROM `homggoo`.`article` AS `T0`
                 LEFT JOIN `homggoo`.`users` AS `T1`
                           ON `T0`.`user_email` = `T1`.`email`
                 LEFT JOIN `homggoo`.`article_user_likes` AS `T2`
                           ON `T0`.`id` = `T2`.`article_id`
        WHERE `T0`.`id` = #{id} LIMIT 1
    </select>
    <select id="selectAll">
        SELECT `T0`.`id`           AS `id`,
               `T0`.`board_id`     AS `boardId`,
               `T0`.`category_id`  AS `categoryId`,
               `T0`.`user_email`   AS `userEmail`,
               `T0`.`title`        AS `title`,
               `T0`.`content`      AS `content`,
               `T0`.`view`         AS `view`,
               `T0`.`created_at`   AS `createdAt`,
               `T0`.`modified_at`  AS `modifiedAt`,
               `T0`.`is_deleted`   AS `isDeleted`,
               `T1`.`nickname`     AS `nickname`,
               `T2`.`display_text` AS `categoryDisplayText`
        FROM `homggoo`.`article` AS `T0`
                 LEFT JOIN `homggoo`.`users` AS `T1`
                           ON `T0`.`user_email` = `T1`.`email`
                 LEFT JOIN `homggoo`.`article_category` AS `T2`
                           ON `T0`.`category_id` = `T2`.`category_id`;
    </select>
</mapper>
