<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgc.homggoo.mappers.article.ArticleMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        insert into `homggoo`.`article`
        (`board_id`, `user_email`, `title`, `content`, `view`, `created_at`, `modified_at`, `is_deleted`)
        VALUES (#{article.boardId},
                #{article.userEmail},
                #{article.title},
                #{article.content},
                #{article.view},
                #{article.createdAt},
                #{article.modifiedAt},
                #{article.isDeleted})
    </insert>
    <select id="selectByBoardId" resultType="com.hgc.homggoo.vos.ArticleVo">
        SELECT `T0`.`id`,
               `T0`.`board_id`,
               `T0`.`user_email`,
               `T0`.`title`,
               `T0`.`content`,
               `T0`.`view`,
               `T0`.`created_at`,
               `T0`.`modified_at`,
               `T0`.`is_deleted`,
               `T1`.`nickname`
        FROM `homggoo`.`article` AS `T0`
            LEFT JOIN `homggoo`.`users` AS `T1`
                ON `T0`.`user_email` = `T1`.`email`
        WHERE `board_id` = #{boardId}
        ORDER BY `T0`.`id` DESC
    </select>

</mapper>