<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgc.homggoo.mappers.comment.CommentMapper">

    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `homggoo`.`comments` (`article_id`, `user_email`, `comment_id`, `content`, `created_at`, `is_deleted`)
        VALUES (#{comment.articleId}, #{comment.userEmail}, #{comment.commentId}, #{comment.content}, #{comment.createdAt}, #{comment.isDeleted})
    </insert>
    <update id="update">
        UPDATE `homggoo`.`comments`
        SET `article_id` = #{comment.articleId},
            `user_email` = #{comment.userEmail},
            `comment_id` = #{comment.commentId},
            `content` = #{comment.content},
            `created_at` = #{comment.createdAt},
            `is_deleted` = #{comment.isDeleted}
        WHERE `id` = #{comment.id}
            lIMIT 1
    </update>
    <select id="selectById" resultType="com.hgc.homggoo.entities.comment.CommentEntity">
        SELECT `id`         AS `id`,
               `article_id` AS `articleId`,
               `user_email` AS `userEmail`,
               `comment_id` AS `commentId`,
               `content`    AS `content`,
               `created_at` AS `createdAt`,
               `is_deleted` AS `isDeleted`
        FROM `homggoo`.`comments`
        WHERE `id` = #{id}
            LIMIT 1
    </select>
    <select id="selectByArticleId" resultType="com.hgc.homggoo.vos.CommentVo">
        SELECT `t0`.`id`         AS `id`,
               `t0`.`article_id` AS `articleId`,
               `t0`.`user_email` AS `userEmail`,
               `t0`.`comment_id` AS `commentId`,
               `t0`.`content`    AS `content`,
               `t0`.`created_at` AS `createdAt`,
               `t0`.`is_deleted` AS `isDeleted`,
               `t1`.`nickname`   AS `userNickname`
        FROM `homggoo`.`comments` AS `t0`
                 LEFT JOIN `homggoo`.`users` AS `t1` ON `t0`.`user_email` = `t1`.`email`
        WHERE `t0`.`article_id` = #{articleId}
    </select>
</mapper>
