<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgc.homggoo.mappers.notice.NoticeMapper">
    <insert id="insert">
insert into `homggoo`.`notice`
(`title`, `content`, `user_email`, `view`, `created_at`, `modified_at`,`is_deleted`,`board_id`)
VALUES (#{notice.title},#{notice.content},#{notice.userEmail},#{notice.view},#{notice.createdAt},#{notice.modifiedAt},#{notice.isDeleted},#{notice.boardId})
    </insert>
    <update id="update">
        update `homggoo`.`notice`
        set `title`=#{notice.title},
            `content`=#{notice.content},
            `modified_at`=#{notice.modifiedAt},
            `is_deleted`=#{notice.isDeleted}
        where `index` = #{notice.index}
        limit 1;

    </update>
    <delete id="delete">

    </delete>
    <select id="selectAll" resultType="com.hgc.homggoo.vos.NoticeVo">
        select `t0`.`index`       as `index`,
               `t0`.`title`       as `title`,
               `t0`.`content`     as `content`,
               `t0`.`user_email`  as `userEmail`,
               `t0`.`view`        as `view`,
               `t0`.`created_at`  as `createdAt`,
               `t0`.`modified_at` as `modifiedAt`,
               `t1`.`nickname`    as `nickname`,
               `t0`.board_id      as `boardId`,
               `t2`.display_text  as `displayText`
        from `homggoo`.`notice` as `t0`
                 left join `homggoo`.`users` `t1` on `t0`.`user_email` = `t1`.`email`
                 left join `homggoo`.`boards` `t2` on `t0`.board_id = `t2`.board_id
        where `t0`.`is_deleted` = false
        order by `index` desc;
    </select>
    <select id="selectByIndex" resultType="com.hgc.homggoo.vos.NoticeVo">
        select `t0`.`index`       as `index`,
               `t0`.`title`       as `title`,
               `t0`.`content`     as `content`,
               `t0`.`user_email`  as `userEmail`,
               `t0`.`view`        as `view`,
               `t0`.`created_at`  as `createdAt`,
               `t0`.`modified_at` as `modifiedAt`,
               `t1`.`nickname`    as `nickname`,
               `t0`.`board_id`    as `boardId`
        from `homggoo`.`notice` as `t0`
                 left join `homggoo`.`users` as `t1` on `t0`.`user_email` = `t1`.`email`
        where `t0`.`index` = #{index} and `t0`.`is_deleted` = false
        limit 1;
    </select>

</mapper>