@charset "UTF-8";

@import "./def";
@import "./common/object";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

$border-color: #f2f4f8;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Pretendard', sans-serif;
  margin-block: 0;
  margin-inline: 0;
  user-select: none;
}

a {
  text-decoration: none;
}

button, input, textarea, select {
  border: none;
  font: inherit;
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
  outline: none;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0;
  margin-inline: 0;
}

img {
  -webkit-user-drag: none;
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

// dialog 관련
.--dialog {
  @include flex(column, center, center, 0.5rem);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.5rem);
  background-color: #212325a0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 8;

  &.-visible {
    opacity: 1;
    pointer-events: auto;
  }

  > .---modal {
    @include flex(column, stretch, flex-start, 1rem);
    top: 50%;
    left: 50%;
    min-width: 20rem;
    background-color: #fafcfe;
    border-radius: 0.25rem;
    box-shadow: 0 0 1.25rem #21232525;
    opacity: 0;
    overflow: hidden;
    padding: 1.625rem 1.75rem;
    pointer-events: none;
    position: fixed;
    transform: scale(95%) translate(-50%, -50%);
    transform-origin: top left;
    transition-duration: 175ms;
    transition-property: opacity, transform;
    transition-timing-function: ease;

    &.-visible {
      opacity: 1;
      pointer-events: auto;
      transform: scale(100%) translate(-50%, -50%);
    }

    > .---title {
      font-size: 1rem;
      font-weight: 400;
    }

    > .---content {
      text-align: justify;
    }

    > .---button-container {
      @include flex(row, stretch, center, 0.5rem);
    }
  }
}