<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/user/assets/images/favicon.png">
    <link rel="stylesheet" href="/user/assets/styles/admin.min.css">
    <link rel="stylesheet" href="/assets/styles/common.min.css">
    <title>관리자 | 오늘의중고</title>
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/user/assets/scripts/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<script th:if="${signedUser != null && !signedUser.isAdmin()}">
    alert('관리자만 접근 가능합니다.');
    location.href = "/";
</script>
<body>
<div class="--dialog" id="noticeDialog">
    <div class="---modal">
        <div class="---title">
            <span>공지사항</span>
        </div>
        <div class="---content">
            <div><strong>닉네임:</strong> <span class="dialogNickname"></span></div>
            <div><strong>날짜:</strong> <span class="dialogCreatedAt"></span></div>
            <div><strong>내용:</strong> <span class="dialogContent"></span></div>
            <div class="button-container">
                <button class="button-object dialogModifyBtn -color-blue">수정</button>
                <button class="dialogCloseBtn --object-button -color-gray">닫기</button>
            </div>
        </div>
    </div>
</div>
<div class="--dialog" id="articleDialog">
    <div class="---modal">
        <div class="---title"><strong>카테고리:</strong><span class="dialogCategory"></span></div>
        <div class="---content">
            <div>
                <strong>제목:</strong> <span class="dialogTitle"></span>
            </div>
            <div><strong>닉네임:</strong> <span class="dialogNickname"></span></div>
            <div><strong>작성일:</strong> <span class="dialogCreatedAt"></span></div>
            <div><strong>내용:</strong>
                <span class="dialogContent"></span>
            </div>
            <div class="button-container">

                <button class="dialogCloseBtn articleBtn --object-button -color-gray ">닫기</button>
            </div>
        </div>
    </div>
</div>
<div class="--dialog" id="userDialog">
    <div class="---modal">
        <div class="---title">
            <span>회원 정보</span>
        </div>
        <div class="---content">
            <div><strong>이름:</strong> <span class="dialogNickname"></span></div>
            <div><strong>이메일:</strong> <span class="dialogEmail"></span></div>
            <div><strong>날짜:</strong> <span class="dialogCreatedAt"></span></div>
            <div><strong>탈퇴여부:</strong> <span class="dialogDeleted"></span></div>

            <div class="dialogArticles">
                <h4>작성한 게시글</h4>
                <ul class="articleLists"></ul>
            </div>
            <button class="dialogCloseBtn --object-button -color-gray">닫기</button>
        </div>
    </div>
</div>


<div id="container">
    <div class="inner-container">
        <section id="category">
            <ul class="list">
                <li class="item" data-mt-name="all">
                    <label for="all">
                        <input type="radio" name="menu" id="all" hidden>
                        <strong>전체 보기 <span class="space"></span></strong>
                    </label>
                </li>
                <li class="item" data-mt-name="notice">
                    <label for="notice">
                        <input type="radio" name="menu" id="notice" hidden>
                        <strong>공지사항</strong>
                    </label>
                </li>
                <li class="item" data-mt-name="article">
                    <!--                    -> article id를 통해서 삭제, 수정 관리, dataset['index']활용-->
                    <label for="article">
                        <input type="radio" name="menu" id="article" hidden>
                        <strong>게시글 관리</strong>
                    </label>
                </li>
                <li class="item" data-mt-name="user">
                    <!--                    -> 이메일을 통해서 탈퇴 여부 결정-->
                    <label for="user">
                        <input type="radio" name="menu" id="user" hidden>
                        <strong>회원 관리</strong>
                    </label>
                </li>
            </ul>
        </section>
        <section id="main-content">
            <div class="all menu">
                <span class="title">전체관리</span>
                <!-- 게시글 요약 -->

                <div class="short-board short-article">
                    <div class="short-container">
                        <header>게시글</header>
                        <div>
                            <span class="num" th:text="${articleCount}">0</span>
                        </div>
                    </div>
                    <div class="content">
                        <table class="list-table">
                            <thead>
                            <tr>
                                <th>카테고리</th>
                                <th>제목</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="article : ${articleList}">
                                <td th:text="${article.getCategoryDisplayText()}">게시글 제목</td>
                                <td th:text="${article.getTitle()}">제목</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <!-- 공지사항 요약 -->
                <div class="short-board short-notice">
                    <div class="short-container">
                        <header>공지사항</header>
                        <div>
                            <span class="num" th:text="${noticeCount}">0</span>
                        </div>
                    </div>
                    <div class="content">
                        <table class="list-table">
                            <thead>
                            <tr>
                                <th>공지 제목</th>
                                <th>내용</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="notice : ${noticeList}">
                                <td th:text="${notice.title}">공지 제목</td>

                                <td th:utext="${notice.content}">내용</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <!-- 회원 요약 -->
                <div class="short-board short-user">
                    <div class="short-container">
                        <header>회원</header>
                        <div>
                            <span class="num" th:text="(${userCount})">0</span>
                        </div>
                    </div>

                    <div class="content">
                        <table class="list-table">
                            <thead>
                            <tr>
                                <th>닉네임</th>
                                <th>이메일</th>
                                <th>타입</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${userList}">
                                <td th:text="${user.nickname}">공지 제목</td>
                                <td th:utext="${user.email}">내용</td>
                                <td th:text="${user.providerType}">로그</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="graph-container">
                    <div class="chart-container" style="margin-top: 2rem;">
                        <h3>공지사항별 조회수</h3>
                        <div id="notice-chart" style="max-width: 100%; height: 350px;"></div>
                    </div>
                    <div class="chart-container" style="margin-top: 2rem;">
                        <h3>날짜별 게시글 등록 수</h3>
                        <div id="article-chart" style="max-width: 100%; height: 350px;"></div>
                    </div>
                    <div class="chart-container" style="margin-top: 2rem;">
                        <h3>회원 상태 분포</h3>
                        <div id="user-chart" style="max-width: 100%; height: 350px;"></div>
                    </div>
                </div>

            </div>
            <div class="notice menu">
                <div class="top-bar">
                    <h2>공지사항 관리</h2>
                    <span class="stretch"></span>
                    <a href="/user/admin/notice" class="--object-button -color-blue">글쓰기</a>
                </div>
                <div class="list-container">
                    <table class="list-table">
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width:5% ;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>제목</th>
                            <th>내용</th>
                            <th>관리자</th>
                            <th>날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>제목1</td>
                            <td class="content">내용1내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용</td>
                            <td>날짜1</td>
                            <td>괄니</td>
                            <td class="buttons">
                                <button>수정</button>
                                <button>삭제</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="article menu ">
                <h2>게시글 관리</h2>
                <div class="list-container">
                    <table class="list-table">
                        <colgroup>
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            <col style="width: auto;">
                            <col style="width:15% ;">
                            <col style="width:10% ;">
                            <col style="width:10% ; ">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>카테고리</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>닉네임</th>
                            <th>날짜</th>
                            <th>수정</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>제목1</td>
                            <td class="content">내용1내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용</td>
                            <td>날짜1</td>
                            <td>괄니</td>
                            <td class="buttons">
                                <button>수정</button>
                                <button>삭제</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 날짜별 게시글 등록 수 차트 -->

            </div>
            <div class="user menu">
                <h2>회원 관리</h2>
                <div class="search-container">
                    <form novalidate id="find-form">
                        <label>
                            <select name="by" id="by" class="--object-field ---field">
                                <option value="nickname">닉네임</option>
                                <option value="email">이메일</option>
                            </select>
                        </label>
                        <label>
                            <input type="text" class="input-object" placeholder="찾을 회원의 닉네임을 입력해주세요." name="keyword">
                        </label>
                        <button type="submit" class="button-object">찾기</button>
                    </form>
                </div>
                <div class="list-container">
                    <table class="list-table">
                        <colgroup>
                            <col style="width: 15%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>이메일</th>
                            <th>닉네임</th>
                            <th>타입</th>
                            <th>날짜</th>
                            <th>탈퇴</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>제목1</td>
                            <td class="content">내용1내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용</td>
                            <td>날짜1</td>
                            <td>괄니</td>
                            <td class="buttons">
                                <button>수정</button>
                                <button>삭제</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>