<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인|라이프스타일 슈퍼앱, 오늘의집</title>
    <link rel="stylesheet" href="/assets/styles/common.min.css">
    <link rel="stylesheet" href="/user/assets/styles/login.min.css">
    <link rel="icon" href="/assets/images/image_cover.png">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/user/assets/scripts/login.js"></script>
</head>
<body>
<div th:if="${OAUTH2_ERROR_MESSAGE}" class="error-alert">
    [[${OAUTH2_ERROR_MESSAGE}]]
</div>
<form novalidate id="login-form">
    <div class="title-container">
        <a href="/">
            <img src="/user/assets/images/logo.png" alt="">
        </a>
    </div>
    <div class="login-container">
        <label class="login-label">
            <input  class="input-object" required type="email" maxlength="50" minlength="5" name="loginEmail"
                   placeholder="이메일">
            <input class="input-object" required type="password" maxlength="50" minlength="5" name="loginPassword"
                   placeholder="비밀번호">
        </label>
        <button type="submit" class="button-object"> 로그인</button>
        <div class="forgot-container">
            <a href="#">비밀번호 재설정</a>
            <a href="/user/register">회원가입</a>
        </div>
    </div>
    <div class="sns-container">
        <span>SNS계정으로 간편하게 회원가입</span>
        <ul class="list">
            <li class="item kakao">
                <a href="/oauth2/authorization/kakao">
                    <img class="icon" src="/user/assets/images/kakao.icon.png" alt="카카오">
                </a>
            </li>
            <li class="item naver">
                <a href="/oauth2/authorization/naver">
                    <img class="icon" id="naver-login-btn" src="/user/assets/images/naverLogin.png" alt="네이버">
                </a>
            </li>
        </ul>
        <a href="#">로그인에 문제가 있으신가요?</a>
    </div>
    <div class="order-container">
        <span class="unsigned-user">비회원 주문 조회하기</span>
        <label class="input-order">
            <input class="input-object" type="text" placeholder="주문번호">
            <input class="input-object" type="text" placeholder="이메일">
            <button type="button" class="button-object">주문조회</button>
        </label>
    </div>
</form>
</body>
</html>