<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/experts/assets/scripts/expert.js"></script>
    <title>공지사항</title>
</head>
<body>
<h2 th:text="${notice.title}"></h2>
<h2 th:utext="${notice.content}"></h2>
<h2 th:text="${notice.nickname}"></h2>
<h2 th:text="${notice.createdAt}"></h2>
<h2 th:text="${notice.view}"></h2>
</body>
</html>