<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script defer src="/user/assets/scripts/admin.js"></script>
</head>
<body>
<h2 th:text="${notice.getTitle()}" >제목</h2>
<p id="notice-meta">작성자 | 날짜</p>
<div id="notice-content">내용</div>
</body>
</html>