#main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  margin-top: 3rem;
}
#main > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .layout {
  position: relative;
  max-width: 45rem;
  width: 100%;
}
#main > .layout > .layout-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1rem;
}
#main > .layout > .layout-content > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .layout > .layout-content > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .layout > .layout-content > .category {
  background: #EAEDEF;
  color: #828C94;
  font-weight: 700;
  letter-spacing: -0.3px;
  display: inline-flex;
  font-size: 12px;
  line-height: 16px;
  height: 24px;
  padding: 0 6px;
  border-radius: 0.25rem;
  align-items: center;
  margin-bottom: 1rem;
}
#main > .layout > .layout-content > .title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(47, 52, 56);
  font-weight: 700;
}
#main > .layout > .layout-content > .content {
  font-size: 15px;
  line-height: 24px;
  word-break: break-word;
  color: rgb(47, 52, 56);
  text-wrap: pretty;
  white-space: pre-wrap;
}
#main > .layout > .layout-content > .name {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0.625rem;
  width: 100%;
}
#main > .layout > .layout-content > .name > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .layout > .layout-content > .name > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .layout > .layout-content > .name > .layout {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.625rem;
}
#main > .layout > .layout-content > .name > .layout > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .layout > .layout-content > .name > .layout > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .layout > .layout-content > .name > .layout > .email {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: rgb(47, 52, 56);
}
#main > .layout > .layout-content > .name > .follow {
  color: rgb(10, 165, 255);
  font-size: 14px;
  line-height: 18px;
}
#main > .layout > .layout-content > .info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  margin: 0 0 5rem;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: rgb(130, 140, 148);
  width: 100%;
}
#main > .layout > .layout-content > .info > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .layout > .layout-content > .info > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .layout > .layout-content > .info > .--object-button {
  font-size: 14px;
  padding: 0;
}
#main > .layout > .comment-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  margin-bottom: 1.5rem;
}
#main > .layout > .comment-content > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .layout > .comment-content > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .layout > .comment-content > .title {
  font-size: 20px;
  line-height: 28px;
  color: rgb(47, 52, 56);
  font-weight: 700;
}
#main > .layout > .comment-content > .layout {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
}
#main > .layout > .comment-content > .layout > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .layout > .comment-content > .layout > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .layout > .comment-content > .layout > img {
  width: 1rem;
  height: 1rem;
}
#main > .layout > .comment-content > .layout > span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-right: 12px;
  margin-left: 4px;
}
#main > .layout > .comment-content > .layout > .switch-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
}
#main > .layout > .comment-content > .layout > .switch-wrapper > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .layout > .comment-content > .layout > .switch-wrapper > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .layout > .comment-content > .layout > .switch-wrapper input[type=checkbox] {
  display: none;
}
#main > .layout > .comment-content > .layout > .switch-wrapper input[type=checkbox]:checked + .switch {
  background-color: rgb(10, 165, 255);
}
#main > .layout > .comment-content > .layout > .switch-wrapper input[type=checkbox]:checked + .switch::after {
  left: calc(100% - 18px);
}
#main > .layout > .comment-content > .layout > .switch-wrapper .switch {
  width: 36px;
  height: 20px;
  background-color: #cbd0d3;
  display: inline-block;
  border-radius: 999px;
  position: relative;
  transition: background-color 0.3s;
  cursor: pointer;
}
#main > .layout > .comment-content > .layout > .switch-wrapper .switch::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: left 0.3s;
}
#main > .layout .comment-input {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  margin-bottom: 2.5rem;
}
#main > .layout .comment-input > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .layout .comment-input > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .layout .comment-input > .profile img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
}
#main > .layout .comment-input > .input-container {
  width: calc(100% - 2.625rem);
  height: 2.75rem;
}
#main > .layout .comment-input > .input-container > .label .comment-input {
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 0.0625rem solid #E6E6E6;
  border-radius: 4px;
  display: block;
  padding: 0 16px;
  cursor: text;
  height: 100%;
}
#main > .side-actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  right: 10rem;
}
#main > .side-actions > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .side-actions > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .side-actions > hr {
  width: 54px;
  height: 1px;
  margin: 0 0 1rem;
  border: 0;
  background: rgb(234, 237, 239);
}
#main > .side-actions > #isLiked {
  margin: 0 0 1.5rem 0;
  font-size: 14px;
  line-height: 18px;
  color: rgb(130, 140, 148);
  white-space: nowrap;
}
#main > .side-actions > .icon-button {
  margin: 1.5rem 0 1.5rem 0;
  width: 60px;
  height: 60px;
  border: 1px solid rgb(194, 200, 204);
  background: rgb(255, 255, 255);
  box-shadow: rgba(63, 71, 77, 0.15) 0 2px 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
> #main > .side-actions > .icon-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
#main > .side-actions > .icon-button > .icon {
  font-size: 18px;
  color: #666;
}

/*# sourceMappingURL=posts.css.map */
