#main-content {
  width: 100%;
  height: 100%;
}
#main-content > .info-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  margin: 0;
  width: 100%;
  height: calc(100vh - 15rem);
  background-color: #F6F9FA;
}
#main-content > .info-section > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .info-section > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .info-section > .inner-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1.25rem;
  width: 78.5rem;
  height: 100%;
  padding: 0 3.75rem;
}
#main-content > .info-section > .inner-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .info-section > .inner-container > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .info-section > .inner-container > .info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1.625rem;
  width: 100%;
  height: 100%;
}
#main-content > .info-section > .inner-container > .info-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .info-section > .inner-container > .info-container > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container span {
  width: 80%;
  text-align: left;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.8125rem;
  font-weight: 600;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 80%;
  background-color: #ffffff;
  border-radius: 0.625rem;
  height: 90%;
  padding: 1.5rem;
  overflow: hidden scroll;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container > .search-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container > .search-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container > .search-container > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container > .search-container > .find-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 20rem;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container > .search-container > .find-input > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container > .search-container > .find-input > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container > .search-container > .find-input > #find {
  width: 20rem;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container table {
  width: 100%;
  max-height: calc(100% - 3rem);
  border-collapse: collapse;
  overflow: hidden scroll;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container table > thead {
  border-top: 0.0925rem solid black;
  border-bottom: 0.0625rem solid #cccccc;
  height: 3rem;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container table > thead > tr {
  position: sticky;
  top: 0;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container table > tbody {
  overflow: hidden scroll;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container table > tbody > tr {
  cursor: pointer;
  text-align: center;
  border-bottom: 0.0625rem dotted #cccccc;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container table > tbody > tr > td {
  height: 2rem;
  line-height: 1.2;
  font-size: 0.875rem;
  padding: 0.8125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5rem;
}
#main-content > .info-section > .inner-container > .info-container > .menu-container > .notice-container table > tbody > tr > td:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5rem;
}

.common {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.common-size {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 78.5rem;
  height: 100%;
  padding: 0 3.75rem;
}
.common-size > * {
  flex-grow: 0;
  flex-shrink: 0;
}
.common-size > .stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

.dot {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 0px 5px;
  background-color: rgb(194, 200, 204);
  border-radius: 50%;
  vertical-align: 3px;
}

/*# sourceMappingURL=expert.css.map */
