@charset "UTF-8";
@import "../../../assets/styles/def";

#main-content {
  width: 100%;
  height: 100%;

  > .info-section {
    @include flex(column, center, center);
    margin: 0;
    width: 100%;
    height: 30.75rem;
    background-color: #F6F9FA;

    > .inner-container {
      @include flex(row, center, flex-start, 1.25rem);
      width: 78.5rem;
      height: 100%;
      padding: 0 3.75rem;

      > .info-container {
        @include flex(column, center, center, 1.625rem);
        width: 100%;
        height: 100%;

        > .menu-container {
          @include flex(column, flex-start, flex-start, 0.5rem);
          width: 100%;
          height: 100%;

          span {
            margin-top: 0.5rem;
            font-size: 1.15rem;
            font-weight: 600;
          }

          > .notice-container {
            @include flex(column, center, center);
            width: 100%;
            background-color: #ffffff;
            border-radius: 0.625rem;
            height: 90%;
            padding: 1.5rem;
            >.list{
              >.item{
                cursor: pointer;
              }
            }
          }
        }
      }
    }

  }
}

.common {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.common-size {
  @include flex(column, flex-start, center);
  width: 78.5rem;
  height: 100%;
  padding: 0 3.75rem;
}

.dot {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 0px 5px;
  background-color: rgb(194, 200, 204);
  border-radius: 50%;
  vertical-align: 3px;
}